<div class="row center-xs">
	<div class="col-xs-12">
		<div class="box">
			<h1 class="title black-text">Admin Dashboard</h1>
			<div class="row center-xs">
				<div class="col-xs-12 col-md-3">
					<div class="box admin-option blue">
						<div class="middle-xs full-height">
							<%= link_to "Publicaciones reportadas", posts_path , class: "" %>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-md-3">
					<div class="box admin-option yellow">
						<%= link_to "Usuarios", users_path, class: "" %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
