<div class="row center-xs">
	<div class="col-xs-12">
		<div class="box">
			<h1 class="title black-text">Admin Dashboard</h1>
			<%= link_to "Post", posts_path , class: "" %>
			<%= link_to "usuarios", users_path, class: "" %>
		</div>
	</div>
</div>