<div class="row center-xs">
  <div class="col-xs-12 col-sm-8">
    <div class="box">
      <% if current_user.admin? %>
      <h1 class="black-text title">Publicaciones reportadas</h1>
        <%= render @reported_posts%>    
      <% else %>
        <h1 class="black-text title">Mis publicaciones</h1>
        <%= render @user_posts%>
      <%end%>
    </div>
  </div>
</div>
