//a
.absolute{
	position: absolute;
}
//b
.big-text{
	font-size: 20px;
}
.bold{
	font-weight: bold;
}
//c
.circle{
	border-radius: 50%;
}

.container-80{
	width: 80%;
}
//d
//e
//f
.full-height{
	height: 100%;
}
.full-width{
	width: 100%;
}
//g
//h
//i
.inline{
	display: inline;
}
.inline-block{
	display: inline-block;
}
//j
//k
//l
.large-padding{
	padding: 10px 15px;
}
//m
//n
.no-border{
	border: 0px;
}
.no-decoration{
	text-decoration: none;
}
.no-margin{
	margin: 0px;
}
.no-padding{
	padding: 0px;
}
//o
//p
.padding-50{
	padding-top: 50px;
	padding-bottom: 50px;
}
.pull-right{
	float: right;
}
.pull-left{
	float: left;
}
//q
//r
.relative{
	position: relative;
}
//s
.small-text{
	font-size: 14px;
}
.slim{
	font-weight: 200;
}
//t
.text-right{
	text-align: right;
}
.text-center{
	text-align: center;
}
.text-justify{
	text-align: justify;
}
.text-left{
	text-align: left;
}
.title{
	font-size: 50px;
}
.top-space{
	margin-top: 1em;
}

.top-space--2{
	margin-top: 2em;
}
//u
.uppercase{
	text-transform: uppercase;
}
.underline{
	text-decoration: underline;
}
//v
//w
//x
//y
//z
.z-depth{
	box-shadow:0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}